/*
@media (max-width:768px){
    /*Schriftgrößen
    h1{font-size:50px;}
    h2{font-size:35px;}
    h3{font-size:25px;}
    h4{font-size:20px;}
    h5{font-size:15px;}
    h6{font-size:13px;}
    p, a {font-size: 12px;}
}
@media (min-width: 768px) {
    /*Schriftgrößen
    h1{font-size:50px;}
    h2{font-size:35px;}
    h3{font-size:25px;}
    h4{font-size:20px;}
    h5{font-size:15px;}
    h6{font-size:13px;}
    p, a {font-size: 12px;}
    /*Navbar center
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    /*Navbar Content Padding
    .navbar-nav>li>a {
        padding: 10px 70px;
    }

}
@media (min-width: 992px) {
    /*Schriftgrößen
    h1{font-size:75px;}
    h2{font-size:50px;}
    h3{font-size:30px;}
    h4{font-size:25px;}
    h5{font-size:18px;}
    h6{font-size:15px;}
    p, a {font-size: 14px;}
}
@media (min-width: 1200px) {
    /*Schriftgrößen
    h1{font-size:100px;}
    h2{font-size:75px;}
    h3{font-size:50px;}
    h4{font-size:30px;}
    h5{font-size:20px;}
    h6{font-size:18px;}
    p,a{font-size:16px;}
}
*/

@media (max-width: 768px) {
    .navbar-header img {
        float: left;
        margin-left: 35px;
    }
}