@charset "UTF-8";
/*--- Colors - Variables ---*/
/*--- Algemein ---*/
p {
  color: #333; }

#back-to-top:hover {
  background-color: #B03407; }

.gray-scale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url(desaturate.svg#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1); }

/*--- Navbar---*/
nav, header {
  list-style: none; }

.navbar-alt .navbar-nav > li > a, .navbar-alt .navbar-nav > li > span {
  margin-top: 25px;
  font-size: 18px; }

.navbar-small .navbar-nav > li > a, .navbar-small .navbar-nav > li > span {
  color: #000;
  margin: 0;
  font-size: 14px; }
  .navbar-small .navbar-nav > li > a.current, .navbar-small .navbar-nav > li > span.current {
    color: #fff !important; }

.navbar-small {
  background: rgba(245, 144, 10, 0.8); }
  .navbar-small .navbar-header .icon-bar {
    background: #000 !important; }

#zoom-button {
  top: 9%;
  right: 0;
  position: fixed;
  z-index: 99;
  line-height: 2;
  font-size: 18px;
  background: rgba(245, 144, 10, 0.8);
  width: 0; }

button.zoom {
  border: 0;
  background: 0;
  outline: 0; }
  button.zoom[disabled] {
    color: #9b9b9b; }

/*--- Revolution-Slider ---*/
/*- Revolution-Slider alles in Großbuchstaben -*/
.op-1, .op-2, .op-3 {
  text-transform: uppercase; }

@media (max-width: 768px) {
  .home-subheading .op-1 {
    margin-top: 40px; }

  .home-button .op-1 {
    margin-top: 20px; }

  .tp-rightarrow.preview4 .tp-arr-allwrapper {
    left: 0; }

  .tparrows.preview4, .tparrows.preview4:after {
    width: 20px; } }
/*- Pic and Caption Anpassung -*/
.tp-rightarrow.preview4 .tp-arr-allwrapper {
  left: -130px;
  width: 200px; }
  .tp-rightarrow.preview4 .tp-arr-allwrapper .tp-arr-imgholder {
    width: 200px; }
  .tp-rightarrow.preview4 .tp-arr-allwrapper .tp-arr-imgholder2 {
    width: 200px;
    left: 200px; }

.tparrows.preview4 .tp-arr-titleholder {
  padding: 0 5px; }

/*- Revolution Slider Pfeile anpassen -*/
/*Breite*/
.tparrows.preview4, .tparrows.preview4:after {
  width: 60px; }

/*--- Section-Abstände ---*/
#technik, #about, #team, #contact, #partner {
  padding: 80px 0; }

#portfolio {
  padding: 20px 0 80px 0;
  margin-top: 20px; }

/*--- About Section ---*/
/*--- Map ---*/
.routenplaner-form {
  position: absolute;
  z-index: 2;
  top: 22px;
  width: 50%;
  margin-left: 8%; }
  .routenplaner-form input {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .routenplaner-form input:hover, .routenplaner-form input:focus {
      box-shadow: 0 -2px #e08627 inset;
      -moz-box-shadow: 0 -2px #e08627 inset;
      -webkit-box-shadow: 0 -2px #e08627 inset;
      -o-box-shadow: 0 -2px #e08627 inset;
      border: 1px solid #e08627; }
  .routenplaner-form input[placeholder] {
    letter-spacing: 1px; }
  .routenplaner-form button {
    height: 46px; }

/*--- Portfolio ---*/
/*- Overlay - Icon und Font Anpassung -*/
.cbp-caption-overlayBottomAlong .cbp-caption-activeWrap {
  bottom: -100px;
  height: 100px;
  background: none repeat scroll 0 0 #282727; }

.cbp img, .cbp-slider img, .cbp-l-project-related-wrap img, .cbp-l-inline img {
  height: 100%; }

/*
 * Image Lightbox
 */
#imagelightbox {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.75); }

.imagelightbox-loading {
  background: url(./../img/assets/ring-loading-animation.gif);
  width: 70px;
  height: 70px;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px; }

.imagelightbox-overlay {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.imagelightbox-arrow {
  width: 8%;
  height: 1000px;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 10001;
  top: 50%;
  top: 50vh;
  margin-top: -500px;
  margin-top: -50vh;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .imagelightbox-arrow:hover {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3); }
  .imagelightbox-arrow.imagelightbox-arrow-left::before, .imagelightbox-arrow.imagelightbox-arrow-right::before {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    text-align: center;
    margin: -25px 0 0px -14px;
    color: gray;
    font-family: FontAwesome, sans-serif; }
  .imagelightbox-arrow.imagelightbox-arrow-left {
    left: 0; }
    .imagelightbox-arrow.imagelightbox-arrow-left::before {
      content: "\f053"; }
  .imagelightbox-arrow.imagelightbox-arrow-right {
    right: 0; }
    .imagelightbox-arrow.imagelightbox-arrow-right::before {
      content: "\f054"; }

.imagelightbox-close {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 10002;
  top: 3%;
  right: 3%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .imagelightbox-close:hover {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3); }
  .imagelightbox-close::before, .imagelightbox-close::after {
    width: 5px;
    background-color: gray;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px; }
  .imagelightbox-close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .imagelightbox-close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

/*
 * Caption component
 */
@media (max-width: 768px) {
  .image-list .caption {
    width: 50%; } }
.image-list .caption {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 33%;
  /* Only the -webkit- prefix is required these days */
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .image-list .caption::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .image-list .caption:hover::before {
    background: rgba(0, 0, 0, 0.5); }
  .image-list .caption:hover .caption-zoom {
    opacity: 1; }
  .image-list .caption:hover .show-gallery {
    opacity: 1; }
  .image-list .caption:hover .caption-overlay, .image-list .caption:hover .caption-overlay-title {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background: transparent; }
  .image-list .caption .caption-zoom {
    position: absolute;
    top: 7px;
    right: 20px;
    opacity: 0;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1; }
    .image-list .caption .caption-zoom i {
      color: white;
      font-size: 30px; }
  .image-list .caption .show-gallery {
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    color: white;
    font-size: 120%;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1; }
    .image-list .caption .show-gallery:hover {
      font-weight: bolder; }
  .image-list .caption .caption-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -o-transform: translateY(100%);
    -moz-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .image-list .caption .caption-overlay-title {
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.3);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .image-list .caption .caption-overlay-content {
    padding: 10px 20px; }

/*--- Contact ---*/
/*--- Kontakt ---*/
#contact input.submit:hover, .btn-primary:hover {
  opacity: .9;
  background-color: #B03407; }

#contact h2, #contact h4, #contact p {
  color: #fff; }
#contact h1 {
  line-height: 1.5em; }
#contact .address {
  font-size: 35px;
  color: #fff; }
  #contact .address:hover {
    color: #e08627;
    cursor: pointer; }
#contact .home-bottom {
  bottom: -80px; }
#contact .radio-buttons {
  padding-top: 41px; }
  #contact .radio-buttons .radio {
    text-align: left;
    height: 48px;
    margin: 0;
    margin-bottom: 25px;
    padding: 14px 20px;
    color: #fff; }
#contact .recaptcha > div {
  margin: 10px auto 25px;
  display: inline-block; }

/*--- Footer ---*/
footer a:hover {
  color: #B03407; }

/*--- Impressum ---*/
.page.impressum {
  margin-top: 50px; }
  .page.impressum h1 {
    margin-bottom: 50px; }

/*# sourceMappingURL=mystyle.css.map */
