@charset "utf-8";

@import "mixins";

/*--- Colors - Variables ---*/
$button-hover-background-color: #B03407;
$text-color-standard: #333;
$text-color-parallax: #fff;
$highlight-color: #e08627;

/*--- Algemein ---*/
p {
  color: $text-color-standard;
}
#back-to-top:hover {
  background-color: $button-hover-background-color;
}
.gray-scale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url(desaturate.svg#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}

/*--- Navbar---*/
nav, header {
  list-style: none;
}
.navbar-alt .navbar-nav > li > a, .navbar-alt .navbar-nav > li > span {
  margin-top: 25px;
  font-size: 18px;
}
.navbar-small .navbar-nav > li > a, .navbar-small .navbar-nav > li > span {
  color: #000;
  margin: 0;
  font-size: 14px;
  &.current {
    color: #fff !important;
  }
}
.navbar-small {
  background: rgba(245, 144, 10, 0.8);
  .navbar-header {
    .icon-bar {
      background: #000 !important;
    }
  }
}
#zoom-button {
  top: 9%;
  right: 0;
  position: fixed;
  z-index: 99;
  line-height: 2;
  font-size: 18px;
  background: rgba(245, 144, 10, 0.8);
  width: 0;
}
button.zoom {
  border: 0;
  background: 0;
  outline: 0;
  &[disabled] {
    color: #9b9b9b;
  }
}
/*--- Revolution-Slider ---*/
/*- Revolution-Slider alles in Großbuchstaben -*/
.op-1, .op-2, .op-3 {
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .home-subheading .op-1 {
    margin-top: 40px;
  }
  .home-button .op-1 {
    margin-top: 20px;
  }
  .tp-rightarrow.preview4 .tp-arr-allwrapper {
    left: 0;
  }
  .tparrows.preview4, .tparrows.preview4:after {
    width: 20px;
  }
}
/*- Pic and Caption Anpassung -*/
.tp-rightarrow.preview4 .tp-arr-allwrapper {
  left: -130px;
  width: 200px;
  .tp-arr-imgholder {
    width: 200px;
  }
  .tp-arr-imgholder2 {
    width: 200px;
    left: 200px;
  }
}
.tparrows.preview4 .tp-arr-titleholder {
  padding: 0 5px;
}
/*- Revolution Slider Pfeile anpassen -*/
/*Breite*/
.tparrows.preview4, .tparrows.preview4:after {
  width: 60px;
}
/*--- Section-Abstände ---*/
#technik, #about, #team, #contact, #partner {
  padding: 80px 0;
}
#portfolio {
  padding: 20px 0 80px 0;
  margin-top: 20px;
}
/*--- About Section ---*/

/*--- Map ---*/
.routenplaner-form {
  position: absolute;
  z-index: 2;
  top: 22px;
  width: 50%;
  margin-left: 8%;
  input {
    @include transition(.3s);
    &:hover, &:focus {
      box-shadow: 0 -2px $highlight-color inset;
      -moz-box-shadow: 0 -2px $highlight-color inset;
      -webkit-box-shadow: 0 -2px $highlight-color inset;
      -o-box-shadow: 0 -2px $highlight-color inset;
      border: 1px solid $highlight-color;
    }
  }
  input[placeholder] {
    letter-spacing: 1px;
  }
  button {
    height: 46px;
  }
}
/*--- Portfolio ---*/
/*- Overlay - Icon und Font Anpassung -*/
.cbp-caption-overlayBottomAlong .cbp-caption-activeWrap {
  bottom: -100px;
  height: 100px;
  background: none repeat scroll 0 0 #282727;
}
.cbp img, .cbp-slider img, .cbp-l-project-related-wrap img, .cbp-l-inline img {
  height: 100%;
}

/*
 * Image Lightbox
 */

#imagelightbox {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 );
  box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 );
}
.imagelightbox-loading {
  background: url(./../img/assets/ring-loading-animation.gif);
  width: 70px;
  height: 70px;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
}
.imagelightbox-overlay {
  background-color: #fff;
  background-color: rgba( 255, 255, 255, .9 );
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.imagelightbox-arrow {
  width: 8%;
  height: 1000px;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 10001;
  top: 50%;
  top: 50vh;
  margin-top: -500px;
  margin-top: -50vh;
  cursor: pointer;
  @include transition(.3s);

  &:hover {
    @include scale(1.3);
  }

  &.imagelightbox-arrow-left::before, &.imagelightbox-arrow-right::before {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    text-align: center;
    margin: -25px 0 0px -14px;
    color: gray;
    font-family: FontAwesome, sans-serif;
  }
  &.imagelightbox-arrow-left {
    left: 0;
    &::before {
      content: "\f053";
    }
  }
  &.imagelightbox-arrow-right {
    right: 0;
    &::before {
      content: "\f054";
    }
  }
}
.imagelightbox-close {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 10002;
  top: 3%;
  right: 3%;
  cursor: pointer;
  @include transition(.3s);

  &:hover {
    @include scale(1.3);
  }

  &::before, &::after {
    width: 5px;
    background-color: gray;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }
  &::before {
    -webkit-transform: rotate( 45deg );
    -ms-transform: rotate( 45deg );
    transform: rotate( 45deg );
  }
  &::after {
    -webkit-transform: rotate( -45deg );
    -ms-transform: rotate( -45deg );
    transform: rotate( -45deg );
  }
}

/*
 * Caption component
 */

.image-list {


  // TODO: verbessern/aktivieren
  @media (max-width: 768px) {
    .caption {
      width: 50%;
    }
  }

  .caption {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 33%;

    /* Only the -webkit- prefix is required these days */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    &::before {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: transparent;
      @include transition(.35s);
    }
    &:hover {
      &::before {
        background: rgba(0, 0, 0, .5);
      }
      .caption-zoom {
        opacity: 1;
      }
      .show-gallery {
        opacity: 1;
      }
      .caption-overlay, .caption-overlay-title {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: transparent;
      }
    }

    .caption-zoom {
      position: absolute;
      top: 7px;
      right: 20px;
      opacity: 0;
      @include transition(.35s);
      z-index: 1;
      i {
        color: white;
        font-size: 30px;
      }
    }

    .show-gallery {
      position: absolute;
      bottom: 20px;
      left: 20px;
      opacity: 0;
      color: white;
      font-size: 120%;
      @include transition(.35s);
      z-index: 1;

      &:hover {
        font-weight: bolder;
      }
    }

    .caption-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      color: white;

      @include translateY(100%);
      @include transition(.35s);
    }

    .caption-overlay-title {
      padding: 10px 20px;
      font-size: 30px;
      font-weight: 600;
      background: rgba(0, 0, 0, 0.3);

      @include translateY(-100%);
      @include transition(.35s);
    }

    .caption-overlay-content {
      padding: 10px 20px;
    }
  }
}
/*--- Contact ---*/
/*--- Kontakt ---*/
#contact input.submit:hover, .btn-primary:hover {
  opacity: .9;
  background-color: $button-hover-background-color;
}
#contact {
  & h2, h4, p {
    color: $text-color-parallax;
  }

  h1 {
    line-height: 1.5em;
  }

  .address {
    font-size: 35px;
    color: $text-color-parallax;
    &:hover {
      color: $highlight-color;
      cursor: pointer;
    }
  }

  .home-bottom {
    bottom: -80px;
  }

  .radio-buttons {
    padding-top: 41px;
    .radio {
      text-align: left;
      height: 48px;
      margin: 0;
      margin-bottom: 25px;
      padding: 14px 20px;
      color: #fff;

      &:first-child {

      }

      input[type="radio"] {

      }
    }
  }

  .recaptcha {
    > div {
      margin: 10px auto 25px;
      display: inline-block;
    }
  }
}
/*--- Footer ---*/
footer a:hover {
  color: $button-hover-background-color;
}

/*--- Impressum ---*/
.page {
  &.impressum {
    margin-top: 50px;

    h1 {
      margin-bottom: 50px;
    }
  }
}