@charset "utf-8";

@import "mixins";

/*--- Colors - Variables ---*/
$button-hover-background-color: #B03407;
$text-color-default: #333;
$text-color-parallax: #fff;
$highlight-color: #e0840a;

/*--- Allgemein ---*/
.no-js {
  #loader-wrapper {
    display: none;
  }
  nav {
    background-color: $highlight-color;
    .navbar-brand img {
      height: 70px;
    }
    .navbar-collapse ul {
      margin-top: 20px;
      a {
        margin-top: 0;
        &:hover {
          color: $text-color-default;
        }
      }
    }
  }
}
p {
  color: $text-color-default;
}
ul {
  list-style: none;
  padding: 0;
}
.gray-scale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url(desaturate.svg#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1);
  @include transition(.3s);
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.no-scroll {
  overflow-y: hidden;
}

/**
  * Preloader
  */

#loader-wrapper {
  display: -webkit-box;          /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;      /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;   /* TWEENER - IE 10 */
  display: -webkit-flex;  /* NEW - Chrome */
  display: flex;          /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #222;
  img {
    max-width: 50%;
  }
  .loader {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 5%;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;

    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #b13507;

      -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }
    &:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: $highlight-color;

      -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }
  }
}

@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);  /* IE 9 */
  transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/*----- Back to Top Button -----*/
#back-to-top {
  position: fixed;
  color: #fff;
  z-index: 100;
  line-height: 40px;
  bottom: -50px;
  right: 20px;
  cursor: pointer;
  border-radius: 2px;
  height: 40px;
  width: 40px;
  display: block;
  text-align: center;
  @include transition(.1s background-color);
  &:hover {
    background-color: #333;
  }
  .icon {
    font-size: 16px;
  }
}

/*--- Navbar---*/
nav, header {
  list-style: none;
  .navbar-header {
    margin-top: 20px;
    .navbar-toggle {
      margin: 32px 0;
      .icon-bar {
        background: #fff;
      }
    }
    .navbar-brand img {
      max-height: 110px;
      @include transition(.2s);
    }
  }
  ul.nav {
    margin-top: 20px;
  }
}
.navbar-alt .navbar-nav > li > a, .navbar-alt .navbar-nav > li > span {
  margin-top: 25px;
  font-size: 18px;
}
.navbar-small {
  @include addBoxShadow(0, 1, 4, rgba(0, 0, 0, 0.15));
  .navbar-header {
    margin: 0;
    .navbar-brand img {
      max-height: 70px;
    }
  }
  .navbar-nav {
    margin: 25px 0 10px;
    > li {
      > a, > span {
        color: #000;
        margin: 0;
        font-size: 14px;
        &.current {
          color: #fff !important;
        }
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
#zoom-button {
  top: 110px;
  right: 0;
  position: fixed;
  z-index: 99;
  line-height: 2;
  font-size: 18px;
  color: $text-color-default;
  background: $highlight-color;
  width: 0;
  button.zoom {
    border: 0;
    background: 0;
    outline: 0;
    &[disabled] {
      color: #9b9b9b;
    }
    &:hover:not([disabled]) {
      color: #fff;
    }
  }
}
/*--- Revolution-Slider ---*/
/*- Revolution-Slider alles in Großbuchstaben -*/
.op-1, .op-2, .op-3 {
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .home-subheading .op-1 {
    margin-top: 40px;
  }
  .home-button .op-1 {
    margin-top: 20px;
  }
  .tp-rightarrow.preview4 .tp-arr-allwrapper {
    left: 0;
  }
  .tparrows.preview4, .tparrows.preview4:after {
    width: 20px;
  }
}
/*- Pic and Caption Anpassung -*/
.tp-rightarrow.preview4 .tp-arr-allwrapper {
  left: -130px;
  width: 200px;
  .tp-arr-imgholder {
    width: 200px;
  }
  .tp-arr-imgholder2 {
    width: 200px;
    left: 200px;
  }
}
.tparrows.preview4 .tp-arr-titleholder {
  padding: 0 5px;
}
/*- Revolution Slider Pfeile anpassen -*/
/*Breite*/
.tparrows.preview4, .tparrows.preview4:after {
  width: 60px;
}
/*--- Section-Abstände ---*/
#technik, #about, #team, #contact, #partner {
  padding: 80px 0;
}
#portfolio {
  padding: 20px 0 80px 0;
  margin-top: 20px;
  .subheading {
    margin-bottom: 30px;
  }
  p.details {
    margin-bottom: 30px;
  }
}
/*--- About Section ---*/

/*--- Map ---*/
#routenplaner-form {
  position: absolute;
  z-index: 2;
  top: 22px;
  width: 50%;
  margin-left: 8%;
  input {
    @include transition(.3s);
    &:hover, &:focus {
      box-shadow: 0 -2px $highlight-color inset;
      -moz-box-shadow: 0 -2px $highlight-color inset;
      -webkit-box-shadow: 0 -2px $highlight-color inset;
      -o-box-shadow: 0 -2px $highlight-color inset;
      border: 1px solid $highlight-color;
    }
  }
  input[placeholder] {
    letter-spacing: 1px;
  }
  button {
    height: 46px;
  }
}
/*--- Portfolio ---*/
/*- Overlay - Icon und Font Anpassung -*/
.cbp-caption-overlayBottomAlong .cbp-caption-activeWrap {
  bottom: -100px;
  height: 100px;
  background: none repeat scroll 0 0 #282727;
}
.cbp img, .cbp-slider img, .cbp-l-project-related-wrap img, .cbp-l-inline img {
  height: 100%;
}

/*
 * Image Lightbox
 */

#imagelightbox {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 );
  box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 );
}
.imagelightbox-loading {
  background: url(./../img/assets/ring-loading-animation.gif);
  width: 70px;
  height: 70px;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
}
.imagelightbox-overlay {
  background-color: #fff;
  background-color: rgba( 255, 255, 255, .9 );
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.imagelightbox-arrow {
  width: 8%;
  height: 1000px;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 10001;
  top: 50%;
  top: 50vh;
  margin-top: -500px;
  margin-top: -50vh;
  cursor: pointer;
  @include transition(.3s);

  &:hover {
    @include scale(1.3);
  }

  &.imagelightbox-arrow-left::before, &.imagelightbox-arrow-right::before {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    text-align: center;
    margin: -25px 0 0px -14px;
    color: gray;
    font-family: FontAwesome, sans-serif;
  }
  &.imagelightbox-arrow-left {
    left: 0;
    &::before {
      content: "\f053";
    }
  }
  &.imagelightbox-arrow-right {
    right: 0;
    &::before {
      content: "\f054";
    }
  }
}
.imagelightbox-close {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 10002;
  top: 3%;
  right: 3%;
  cursor: pointer;
  @include transition(.3s);

  &:hover {
    @include scale(1.3);
  }

  &::before, &::after {
    width: 5px;
    background-color: gray;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }
  &::before {
    -webkit-transform: rotate( 45deg );
    -ms-transform: rotate( 45deg );
    transform: rotate( 45deg );
  }
  &::after {
    -webkit-transform: rotate( -45deg );
    -ms-transform: rotate( -45deg );
    transform: rotate( -45deg );
  }
}

/*
 * Caption component
 */

.image-list {
  .caption {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 32%;

    /* Only the -webkit- prefix is required these days */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    &::before {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: transparent;
      @include transition(.35s);
    }
    &:hover {
      &::before {
        background: rgba(0, 0, 0, .5);
      }
      .caption-zoom {
        opacity: 1;
      }
      .show-gallery {
        opacity: 1;
      }
      .caption-overlay, .caption-overlay-title {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: transparent;
      }
    }

    .caption-zoom {
      position: absolute;
      top: 7px;
      right: 20px;
      opacity: 0;
      @include transition(.35s);
      z-index: 1;
      i {
        color: white;
        font-size: 30px;
      }
    }

    .show-gallery {
      position: absolute;
      bottom: 20px;
      left: 20px;
      opacity: 0;
      color: white;
      font-size: 120%;
      @include transition(.3s);
      z-index: 1;

      &:hover {
        color: $highlight-color;;
      }
    }

    .caption-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      color: white;

      @include translateY(100%);
      @include transition(.35s);
    }

    .caption-overlay-title {
      padding: 10px 20px;
      font-size: 30px;
      font-weight: 600;
      background: rgba(0, 0, 0, 0.3);

      @include translateY(-100%);
      @include transition(.35s);
    }

    .caption-overlay-content {
      padding: 10px 20px;
    }
  }

  @media (max-width: 992px) {
    .caption {
      width: 49%;
    }
  }

  @media (max-width: 767px) {
    .caption {
      width: 100%;
    }
  }
}
/*--- Contact ---*/
/*--- Kontakt ---*/
#contact input.submit:hover:not(:disabled), .btn-primary:hover:not(:disabled) {
  opacity: .9;
  background-color: $button-hover-background-color;
}
#contact {
  background-color: rgba(0,0,0,.3);
  background-blend-mode: darken;

  & h2, h4, p {
    color: $text-color-parallax;
  }

  h1 {
    line-height: 1.5em;
  }

  .contact-details {
    list-style: none;
    p {
      font-size: 30px;
    }
    a {
      color: #fff;
      &:hover, &:focus {
        color: $highlight-color;
      }
    }
  }

  input, textarea {
    @include transition(.4s);
    &:focus {
      @include addBoxShadow(0, -4px, 0, 0, $highlight-color, inset);
    }
  }

  #contact-alert-wrapper {
    margin-top: 25px;
  }

  .address {
    font-size: 35px;
    color: $text-color-parallax;
    &:hover {
      color: $highlight-color;
      cursor: pointer;
    }
  }

  form h4 {
    margin: 3px 0 24px;
  }

  .sub {
    color: #fff;
    line-height: 48px;
  }

  textarea {
    padding: 13px;
  }

  .recaptcha {
    > div {
      margin: 10px auto 25px;
      display: inline-block;
    }
  }

  .home-bottom {
    bottom: -80px;
  }
}
/*--- Footer ---*/
footer a:hover {
  color: $button-hover-background-color;
}

/*--- Impressum ---*/
.page {
  &.impressum {
    margin-top: 100px;

    h1 {
      margin-bottom: 50px;
    }
  }
}